* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
/* Header
 =================================================== */
header {
    padding-top: 107px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
}

hr {
    width: 64px;
    height: 2px;
    border: none;
    background: #FF8B38;
    margin: 30px auto;
}

h4 {
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
}
/* Main content
 =================================================== */
main {
    padding: 80px 0 107px;
    font-size: 0;
} 

.card {
    display: inline-block;
    width: 350px;
    margin: 0 16px;
}

.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid #FF8B38;
    border-radius: 50%;
}

h2 {
    margin: 29px 0;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}

.icon--lamp {
    background: url(../img/lamp.png) no-repeat center center;
}

.icon--keyboard {
    background: url(../img/keyboard.png) no-repeat center center;
}

.icon--lightning {
    background: url(../img/lightning.png) no-repeat center center;
}
/* Footer
 =================================================== */
 .container-2{
    background: url(../img/city.png) no-repeat center center;
    width: 1400px;
    height: 320px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

.h1-cont_2{
    padding: 76px 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
}

.h2-cont_2{
    padding: 76px 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
}

.hr-cont_2{
    width: 64px;
    height: 2px;
    border: none;
    background: #FFFFFF;
    margin: 30px auto;
}

.h4-cont_2{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}

button{
    margin-top: 33px;
    width: 135px;
    height: 42px;
    font-size: 15px;
    color: #FFFFFF;
    background: transparent;
    border: solid #FFFFFF;
}

.block{
    width: 1400px;
    height: 100px;
    background-color: black;
}

